
#-------------------------
# Temporary Files
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*

php_errors.log

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------


# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

# KoolReport Pro
auth.json
public_html/koolreport_assets/*
